
@import 'C:\airbnconra\node_modules\bulmaswatch\minty\bulmaswatch.min.css';
@import 'C:\airbnconra\node_modules\bulma-calendar\dist\css\bulma-calendar.min.css';

.App {
  text-align: left;
}

.App-header {
  background-color: #4e3dee;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
